# This is a basic workflow to help you get started with Actions

name: Generate changelog

on:
  push:
    tags:
      - '*'
   
jobs:
  release-on-push:
    runs-on: ubuntu-latest
    steps:
      - uses: nuuday/github-changelog-action@v1.0.0
        with:
          next_version: ${{ github.ref }}
