name: Tag/Release on Push Action and create CHANGELOG

on:
  push:
    branches:
      - master

jobs:
  release-on-push:
    name: "Release on push to Master"
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@master
        name: Tag and Realease
        with:
          bump_version_scheme: minor
  generate-changelog:
    needs: release-on-push
    name: "Generate Changelog after release"
    runs-on: ubuntu-latest
    steps:
#      - name: Get Previous Tag
#        run: |
#          PREV_TAG=$(git describe --abbrev=0 --tags "${{ github.ref }}^")
#          echo "::set-env name=baseRef::$PREV_TAG"
      - name: Checkout code
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
          run: |
            echo ${{ github.ref }}
            echo ${{ env.GITHUB_WORKSPACE }}

      - uses: heinrichreimer/github-changelog-generator-action@v2.1.1
        name: Generate Changelog
        with:
          output: CHANGELOG2.md
          token: ${{ secrets.GITHUB_TOKEN }}